.recipe-image {
    height: 300px;
    width: 400px;
    padding: 20px;
    padding-bottom: 0px;
    margin-top: 20px;
}
.recipe-name-margin {
    margin-top: 0px;
}
.background-callout {
     /*--- FOR ALL BACKGROUND CONTAINERS sets background image for callout container. 
    it is set to not repeat, so the image doesnt stretch, and the image will be centered horizontally and 
    pushed to the top of the container. the background will also not scroll, but remained positioned so things will scroll past it---*/
    background: url("../images/foods.jpg")no-repeat center center fixed;
    /*--- adjusts background for different browsers ---*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    /*--- makes the background fit to the container ---*/
    overflow: hidden;

    /*--- aligns and justifies text in container ---*/
    align-items: center;
    justify-content: center;
    /*--- the height that container will take up in the viewport ---*/
    height: 100vh; 
}

.callout-text-background-color {
    text-align: center;
    background-color: #7c1a50a3;
    color: white;
    height: 330px;
    margin-top: 150px;

}

.view-recipe-image {
    height: 500px;
    width: 800px;
}

.recipe-row-margin {
    margin-left: 80px;
}

.my-navbar-margin {
    padding-left: 40px;
    padding-right: 40px;
    background-color: #7c1a50ed;
}

.my-btn-color {
    background-color: #3384d8;
}

.my-link-color {
    color: #3384d8;
}

.my-search-bar-margin {
    margin-top: 20px;
    width: 910px;
}

