/*--- IMAGES ---*/

.background-callout {
    
    background: url(../images/home.jpg)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    height: 40vh;
}

.recipe-image-sizing-spacing {
    /*---Class name can be found in recipehome.html and allrecipes.html for those recipe images to be displayed--*/
    /*---gives the div surrounding the image size as to not stretch the image---*/
    height: 300px;
    width: 400px;
    margin-top: 20px;

}

.spacing-from-navbar {
    /*--- pushes entire div away from Navbar to give appropriate space. Located in editrecipe.html ---*/
    padding-top: 50px;
}




/*--- FONT STYLES ---*/

body {
    /*--- Sets general font specifications for entire webpage with edits/adjustments listed below---*/
    font-size: 2rem;
    font-family: 'Gudea', sans-serif;
}

.callout-text-background {

    text-align: center;
    background-color: #7c1a50a3;
    color: white;
    height: 400px;
    margin-top: 400px;
}

.font-color-white {
    /*---button in callout ---*/
    color: white;
}

.my-font {
    /*--- used several times across the html, the my-font class gives the distinguished font with a size difference---*/
    font-size: 4rem !important;
    font-family: 'Rancho', cursive;
}

.my-font-adjust-edit {
    /*--- Class used in editrecipe.html to fix size of text that overlaps my placeholders/inputs---*/
    font-size: 2rem !important;
}

.my-font-size-adjust {
    /*--- used several times across html, gives smaller font size for texts that are in the certain forms and things within the site---*/
    font-size: 1.75rem !important;
}

.my-link-color {
    /*--- used on specific buttons that are attached to links ---*/
    color: #3384d8;
}

.my-sidenav li>a {
    font-size: 3rem;
    margin-top: 40px;
}

nav ul a {
    font-size: 1.5rem !important;
}



nav a.sidenav-trigger i {
    font-size: 55px;
    padding: 5px;
}

.recipe-details-name-font {
    /*--- In recipedetails.html the Recipe name has a distinguished font from the other txts ---*/
    font-size: 6rem;
    font-family: 'Rancho', cursive;
}


.recipe-name-spacing {
    /*--- can be found on the recipe home and all recipes page ---*/
    margin-top: 0;
}


.recipe-title-spacing {
    /*--- used in recipedetails.html, provides spacing for entire div containing name, serves, and type of recipe ---*/
    margin-top: 100px;
}



/*--- CONTAINERS, ROWS, SPANS, NAVBAR ---*/

.callout-text-div {
    padding: 20px;
}

.modal-marginbottom {
    margin-bottom: 30px;
}

.my-navbar {
    padding-left: 40px;
    padding-right: 40px;
    background-color: #7c1a50ed;
    height: 65px !important;

}


.recipe-row-center {
    margin-left: 80px;
}

.view-recipe-container {

    margin-bottom: 60px;
}



/*--- BUTTONS, HOVER ---*/

.btn-large i {
    font-size: 2.25rem;
}

.deletemodal-btn:hover {
    background-color: #2870a8cf;
    transition: all 0.40s ease-in-out;
    -moz-transition: all 0.40s ease-in-out;
    -webkit-transition: all 0.40s ease-in-out;
    -o-transition: all 0.40s ease-in-out;
}

.my-btn-color {
    background-color: #2870a8;
    font-size: 1.75rem;
}

.my-btn-color:hover {
    background-color: #2870a8cf;
    
    transition: all 0.40s ease-in-out;
    -moz-transition: all 0.40s ease-in-out;
    -webkit-transition: all 0.40s ease-in-out;
    -o-transition: all 0.40s ease-in-out;
}

.view-recipe-link:hover {
    background-color: #2870a8cf;
    
    transition: all 0.40s ease-in-out;
    -moz-transition: all 0.40s ease-in-out;
    -webkit-transition: all 0.40s ease-in-out;
    -o-transition: all 0.40s ease-in-out;
}



/*---MEDIA QUERIES---*/

/*--- adjustemnts for different screensizes, small-->big ---*/

@media (min-width: 576px) {
    .callout-text-background {
        margin-top: 200px;
        ;
    }

}

@media (min-width: 768px) {
    .background-callout {

        background: url("../images/home.jpg")no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        overflow: hidden;

        align-items: center;
        justify-content: center;
        height: 60vh;
    }
    .callout-text-background {
        margin-top: 50px;
        ;
    }

    .recipe-row {
        margin-left: 0;
    }

}

@media (min-width: 992px) {
    .background-callout {

        background: url("../images/home.jpg")no-repeat center center fixed;
        
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        /*--- makes the background fit to the container ---*/
        overflow: hidden;
        align-items: center;
        justify-content: center;
        height: 60vh;
    }
    .callout-text-background {
        margin-top: 60px;
        ;
    }
    .recipe-row-center {
        margin-left: 0;
    }


}

@media (min-width: 1200px) {
    .background-callout {

        background: url("../images/foods.jpg")no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        overflow: hidden;

        align-items: center;
        justify-content: center;
        height: 70vh;
    }

    .recipe-row-center {
        margin-left: 0;
    }
}
    @media (min-width: 1400px) {
        .recipe-row-center {
            margin: 80px;
        }

    }
