/*--- IMAGES ---*/

.background-callout {
    /*--- FOR ALL BACKGROUND CONTAINERS sets background image for callout container. 
    it is set to not repeat, so the image doesnt stretch, and the image will be centered horizontally and 
    pushed to the top of the container. the background will also not scroll, but remained positioned so things will scroll past it---*/
    background: url(../images/home.jpg)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    height: 40vh;
}

.view-recipe-image {
    /*--- pushes the image for the selected recipe down from navbar on view recipe page ---*/
    padding-top: 50px;
}

.recipe-image {
    /*---gives the div surrounding the image style as to not stretch the image---*/
    height: 300px;
    width: 400px;
    padding-bottom: 0px;
    margin-top: 20px;

}


/*--- FONT STYLES ---*/

.my-font-adjust-edit {
    font-size: 2rem !important;
}

nav ul a {
    font-size: 1.5rem !important;
}

.my-sidenav li>a {
    font-size: 3rem;
    margin-top: 40px;
}

nav a.sidenav-trigger i {
    font-size: 55px;
    padding: 5px;
}

.my-font-name {
    font-size: 6rem;
    font-family: 'Rancho', cursive;
}

.my-brand-logo, .my-font {
    font-size: 4rem !important;
    font-family: 'Rancho', cursive;
}

.my-font-adjust {
    font-size: 1.75rem !important;
}

body, .recipe-name {
    font-size: 2rem;
    font-family: 'Gudea', sans-serif;
}

.recipe-title {
    /*--- pushes the recipe title down in view full recipe image page ---*/
    margin-top: 100px;
}

.recipe-name {
    /*--- adjusts space around recipe name on recipe home page ---*/
    margin-top: 0px;
}

.callout-text-background {
    /*--- gives slightly transparent background for text in callout on home page, also provides spacing for words ---*/
    text-align: center;
    background-color: #7c1a50a3;
    color: white;
    height: 400px;
    margin-top: 400px;
}

.my-link-color {
    color: #3384d8;
}

.font-color {
    color: white;
}

/*--- CONTAINERS, ROWS, SPANS, NAVBAR ---*/

.callout-text-div {
    padding: 20px;
}

.modal-marginbottom {
    margin-bottom: 30px;
}

.view-recipe-container {
    /*--- Puts space between bottom of page and end of full recipe on view recipe page ---*/
    margin-bottom: 60px;
}

.recipe-row {
    /*--- centers the for-loop of recipes on home page and on the all recipes page ---*/
    margin-left: 80px;
}

.my-navbar {
    /*--- gives padding to the navbar so it is not right on the border of the screen ---*/
    padding-left: 40px;
    padding-right: 40px;
    background-color: #7c1a50ed;
    height: 65px !important;
    
}

/*--- BUTTONS, HOVER ---*/
.btn-large i {
  font-size: 2.25rem;  
}

.my-btn-color {
    background-color: #2870a8;
    font-size: 1.75rem;
}

.my-btn-color:hover {
    background-color: #2870a8cf;
    /*--- when mouse is hovered the button will transition for 
    .40seconds the color will gradually ease in and then ease out. ---*/
    transition: all 0.40s ease-in-out;
    -moz-transition: all 0.40s ease-in-out;
    -webkit-transition: all 0.40s ease-in-out;
    -o-transition: all 0.40s ease-in-out;
    /*--- adjustments for each web browser ---*/
}

.view-recipe-link:hover {
    background-color: #2870a8cf;
    /*--- when mouse is hovered the button will transition for 
    .40seconds the color will gradually ease in and then ease out. ---*/
    transition: all 0.40s ease-in-out;
    -moz-transition: all 0.40s ease-in-out;
    -webkit-transition: all 0.40s ease-in-out;
    -o-transition: all 0.40s ease-in-out;
    /*--- adjustments for each web browser ---*/
}

.deletemodal-btn:hover {
    background-color: #2870a8cf;
    /*--- when mouse is hovered the button will transition for 
    .40seconds the color will gradually ease in and then ease out. ---*/
    transition: all 0.40s ease-in-out;
    -moz-transition: all 0.40s ease-in-out;
    -webkit-transition: all 0.40s ease-in-out;
    -o-transition: all 0.40s ease-in-out;
    /*--- adjustments for each web browser ---*/
} 

/*---MEDIA QUERIES---*/

/*--- adjustemnts for different screensizes, 
    small-->big all features tested on google chrome inspect ---*/

@media (min-width: 576px) {
    .callout-text-background {
        /*--- provides adjusted spacing for words ---*/
        margin-top: 200px;
        ;
    }

}

@media (min-width: 768px) {
    .background-callout {

        background: url("../images/home.jpg")no-repeat center center fixed;
        /*--- adjusts background for different browsers ---*/
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        /*--- makes the background fit to the container ---*/
        overflow: hidden;

        /*--- aligns and justifies text in container ---*/
        align-items: center;
        justify-content: center;
        /*--- the height that container will take up in the viewport ---*/
        height: 60vh;
    }
    .callout-text-background {
        /*--- provides adjusted spacing for words ---*/
        margin-top: 50px;
        ;
    }

    .recipe-row {
        /*--- adjusts centering of the for-loop of recipes to have no left-margin ---*/
        margin-left: 0px;
    }

}

@media (min-width: 992px) {
    .background-callout {

        background: url("../images/home.jpg")no-repeat center center fixed;
        /*--- adjusts background for different browsers ---*/
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        /*--- makes the background fit to the container ---*/
        overflow: hidden;

        /*--- aligns and justifies text in container ---*/
        align-items: center;
        justify-content: center;
        /*--- the height that container will take up in the viewport ---*/
        height: 60vh;
    }
    .callout-text-background {
        /*--- provides adjusted spacing for words ---*/
        margin-top: 60px;
        ;
    }
    .recipe-row {
        /*--- adjusts centering of the for-loop of recipes to have no left-margin ---*/
        margin-left: 0px;
    }


}

@media (min-width: 1200px) {
    .background-callout {

        background: url("../images/foods.jpg")no-repeat center center fixed;
        /*--- adjusts background for different browsers ---*/
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        /*--- makes the background fit to the container ---*/
        overflow: hidden;

        /*--- aligns and justifies text in container ---*/
        align-items: center;
        justify-content: center;
        /*--- the height that container will take up in the viewport ---*/
        height: 70vh;
    }

    .callout-text-background {
        /*--- provides adjusted spacing for words ---*/
        margin: 15;
    }

    .recipe-row {
        /*--- adjusts centering of the for-loop of recipes to have no left-margin ---*/
        margin-left: 0;
    }

    @media (min-width: 1400px) {
        .recipe-row {
            margin: 80px;
        }

    }
