<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--link for Icons in Materialize-->

    <!--JQuery needs to be active before Materialize can render its' data-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" type="text/css" />
</head>

<body>
        <div class="navbar-fixed ">
            <nav class="transparent">
                <div class="nav-wrapper my-navbar-margin">
                    <a href="index.html" class="brand-logo">From Scratch</a>
                    <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="{{ url_for('get_recipes') }}">Home</a></li>
                        <li><a href="#all-recipes">All Recipes</a></li>
                        <li><a href="collapsible.html">Add Recipes</a></li>
                        <li><a href="mobile.html">About</a></li>
                    </ul>
                </div>
            </nav>
        </div>


        <ul class="sidenav" id="mobile-nav">
            <li><a href="#top">Home</a></li>
            <li><a href="#all-recipes">All Recipes</a></li>
            <li><a href="collapsible.html">Login</a></li>
            <li><a href="mobile.html">Register</a></li>
        </ul>



        {% block content %}
        <!--contains any content needed for each page, this give a template for such-->
        {% endblock %}



        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <script src='http://code.jquery.com/jquery-3.3.1.min.js'></script>
        <script src='/javascripts/register.js'></script>
        <!-- Script to use Materialize functionality-->
        <script type="text/javascript">
            $(document).ready(function() {
                $('select').formSelect();
            });
        </script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('.collapsible').collapsible();
            });
        </script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('.sidenav').sidenav();
            });
        </script>
        <script type="text/javascript">
            $(document).ready(function() {
               $('.fixed-action-btn').floatingActionButton();
            });
        </script>
    

        <!-- script for the collapsibles-->
</body>

</html>