<!DOCTYPE html>
<html>

<head>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--link for Icons in Materialize-->

    <!--JQuery needs to be active before Materialize can render its' data-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--link to CSS in a static folder-->
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Gudea|Rancho&display=swap" rel="stylesheet">
    <!--Link to fonts-->
    <title>From Scratch</title>
</head>

<body>
    <!--navbar is fixed at the top for UX-->
    <div class="navbar-fixed ">
        <nav class="transparent">
            <!--Unique class names are named based on their purpose-->
            <div class="nav-wrapper my-navbar">
                <!--links to home page-->
                <a href="{{ url_for('get_recipes') }}" class="brand-logo my-brand-logo">From Scratch</a>
                <!--triggers sidenav in mobile view-->
                <a data-target="mobile-nav" class="sidenav-trigger my-sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down my-nav-links">
                    <!--links to home page-->
                    <li><a href="{{ url_for('get_recipes') }}">Home</a></li>
                    <!--links to all recipes page-->
                    <li><a href="{{ url_for('all_recipes') }}">All Recipes</a></li>
                    <!--links to mdal to add recipe, triggers add_recipe function-->
                    <li><a class="modal-trigger" href="#modal1">Add Recipes</a></li>
                </ul>
            </div>
        </nav>
    </div>


    <ul class="sidenav my-sidenav" id="mobile-nav">
        <!--links to home page-->
        <li><a href="{{ url_for('get_recipes') }}">Home</a></li>
        <!--links to all recipes page-->
        <li><a href="{{ url_for('all_recipes') }}">All Recipes</a></li>
        <!--links to modal to add recipes, triggers add_recipe function-->
        <li><a class="modal-trigger" href="#modal1">Add Recipes</a></li>
    </ul>



    {% block content %}
    <!--contains any content needed for each page, this give a template for such-->
    {% endblock %}
    <!-- modal is used to add recipes-->
    <div id="modal1" class="modal scale-transition scale-out">
        <div class="modal-content">
            <h2>Add Recipe</h2>
            <div class="row">
                <!--action triggers insert recipe function to insert completed form into MongoDB-->
                <form class="col s12" id="addRecipe" action="{{ url_for('insert_recipe') }}" method='POST' onSubmit="alert('Thank You for Sharing your Recipe. View Below')">
                    <!--gives alert to confirm to the user that the recipe was added-->
                    <div class="row">
                        <div class="input-field col s6">
                            <!--ALL NAMES AND IDS MATCH THE MONGO DATABASE NAMES FOR CERTAIN ITEMS TO TRIGGER ITS PLACEMENT INTO THE DATABASE-->
                            <input id="recipe_name" name="recipe_name" type="text" class="validate" required="" aria-required="true">
                            <label class="my-font-adjust" for="recipe_name">Recipe Name</label>
                        </div>

                        <div class="input-field col s6">
                            <input id="recipe_type" name="recipe_type" placeholder="Vegetarian? Vegan? Chicken? Fish? Etc." type="text" class="validate" required="" aria-required="true">
                            <label class="my-font-adjust" for="recipe_name">What is Your Recipe?</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="List all Ingredients and Special Instructions" name="ingredients0" id="ingredients0" type="text" class="validate" required="" aria-required="true">
                            <label class="my-font-adjust" for="ingredients0">Ingredients</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="directions0" name="directions0" type="text" class="validate" required="" aria-required="true">
                            <label class="my-font-adjust" for="directions0">Directions</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="nutrition0" name="nutrition0" type="text" class="validate" required="" aria-required="true">
                            <label class="my-font-adjust" for="nutrition0">Nutrition Facts</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6 my-font-adjust">
                            Serves:
                            <div class="input-field inline">
                                <input id="serves" name="serves" type="number" class="validate" required="" aria-required="true">
                                <label for="serves">How Many People? </label>

                            </div>
                        </div>
                        <div class="input-field col s6">
                            <input placeholder="Your Name" id="recipe_by" name="recipe_by" type="text" class="validate" required="" aria-required="true">
                            <label class="my-font-adjust" for="recipe_by">Recipe by:</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input minlength="1" placeholder="Please give the URL of your recipe image" id="recipe_image" name="recipe_image" type="url" class="validate" required="" aria-required="true">
                            <label class="my-font-adjust" for="recipe_image">Recipe Image</label>
                        </div>
                    </div>
                    <!--button triggers the insert function, and inserts new recipe to the database-->
                    <button class="btn waves-effect waves-light right my-btn-color" type="submit" name="action">Add Recipe
            <i class="material-icons right">add</i>
         </button>
                </form>
            </div>
        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <!-- Script for JQuery dom manipulation-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Script to use Materialize functionality-->

    <!-- Scripts to use Materialize functionality-->

    <!--script to use side nav in mobile view-->
    <script type="text/javascript">
        $(document).ready(function() {
            $('.sidenav').sidenav();
        });
    </script>
    <!--for action button on view recipe page-->
    <script type="text/javascript">
        $(document).ready(function() {
            $('.fixed-action-btn').floatingActionButton();
        });
    </script>
    <!--to trigger modal-->
    <script type="text/javascript">
        $(document).ready(function() {
            $('.modal').modal();
        });
    </script>

</body>

</html>