{% extends 'base.html' %} {% block content %}
<!--Above calls for information from base.html page-->
<!--Unique class names are named based on their purpose-->
<div class="callout background-callout">
    <div class="container callout-text-background">
        <!--Unique class names are named based on their purpose-->

        <h2>Family is everything</h2>
        <h3>Welcome to the Callender's From Scratch recipe forum</h3>
        <h4>Share and Discover our family recipes</h4>
        <!--triggers Modal from base.html to add recipe, triggers add recipe function-->
        <a href="#modal1" class="font-color modal-trigger"><button class="btn waves-effect waves-light center my-btn-color">Add Recipe
        <i class="material-icons right">add</i></a>

    </div>
</div>

<div class="container flow-text">
    <h4 class="center">Featured Recipes</h4>
    <div class="row recipe-row">
        <!--For loop to display all recipes in the database-->
        {% for recipes in from_scratch %}
        <a href="{{url_for('view_recipe', recipe_id=recipes._id)}}">
            <div class="col s6">
                <!--triggers full view of the recipe details-->
                <img class="recipe-image view-recipe-link" data-caption="{{recipes.recipe_name}}" src="{{recipes.recipe_image}}" alt="No Image Available">
                <p class="recipe-name black-text"><strong>{{recipes.recipe_name}}</strong></p>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}