{% extends 'base.html' %} 
{% block content %} 

{% for recipes in from_scratch %}
<div class="row">
   <!---FROM TUTOR CONVERSTAION PASTED TO WORD!!!! adjust column size to have the 3x2 layout-->
    <div class="col-4 s12 m6 l4">
        
        <div class="featured-recipe1">

        </div>
        <h1>
            
        </h1>
        <h2>
            
        </h2>
        <ul class="collapsible">
            
            <li>
                <div class="collapsible-header"><i class="material-icons">local_dining</i>Ingredients</div>
                <div class="collapsible-body"><span>
                     {{recipes.ingredients0}}
                </span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">list</i>Directions</div>
                <div class="collapsible-body"><span>
                        {{recipes.directions0}}
                </span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">fitness_center</i>Nutrition</div>
                <div class="collapsible-body"><span>
                    {{recipes.nutrition0}}
                </span></div>
            </li>
            
        </ul>
        
    </div>

    
</div>
{% endfor %}


{% endblock %}
