{% extends 'base.html' %} {% block content %}

<div  id="all-recipes"></div>
</br>
</br>
<div class="container flow-text">
    <h4 class="center">Browse Our Recipes</h4>
    <div class="row recipe-row-margin">
        <nav class="my-search-bar-margin">
            <div class="nav-wrapper my-btn-color">
                <form>
                    <div class="input-field">
                        <input id="search" type="search" required>
                        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                        <i class="material-icons">close</i>
                    </div>
                </form>
            </div>
        </nav>
        {% for recipes in from_scratch %}
        <div class="col s6">
            <a href="{{url_for('view_recipe', recipe_id=recipe._id)}}"<img class="materialboxed recipe-image" data-caption="{{recipes.recipe_name}}" src="{{recipes.recipe_image}}" alt="No Image Available">
            <p class="recipe-name-margin"><strong>{{recipes.recipe_name}}</strong></p>
        </div>
        {% endfor %}
    </div>


    <h3>Add Recipe</h3>
    <div class="row">
        <form class="col s12" action="{{ url_for('insert_recipe') }}" method='POST'>
            <div class="row">
                <div class="input-field col s6">
                    <input id="recipe_name" name="recipe_name" type="text" class="validate" required="" aria-required="true">
                    <label for="recipe_name">Recipe Name</label>
                </div>

                <div class="input-field col s6">
                    <select id="recipe_type" name="recipe_type" required="" aria-required="true">
                  <option value="" disabled selected>Choose your option</option>
                  <option value="1">Vegetarian</option>
                  <option value="2">Chicken</option>
                  <option value="3">Beef</option>
                  <option value="3">Vegan</option>
                  <option value="3">Fish</option>
                  <option value="3">Pork</option>
                </select>
                    <label>What is your recipe?</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="List all Ingredients and Special Instructions" name="ingredients0" id="ingredients0" type="text" class="validate" required="" aria-required="true">
                    <label for="ingredients0">Ingredients</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="directions0" name="directions0" type="text" class="validate" required="" aria-required="true">
                    <label for="directions0">Directions</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="nutrition0" name="nutrition0" type="text" class="validate" required="" aria-required="true">
                    <label for="nutrition0">Nutrition Facts</label>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    Serves:
                    <div class="input-field inline">
                        <input id="serves" name="serves" type="number" class="validate" required="" aria-required="true">
                        <label for="serves">How Many People? </label>

                    </div>
                </div>
                <div class="input-field col s6">
                    <input placeholder="Your Name" id="recipe_name" name="recipe_name" type="text" class="validate" required="" aria-required="true">
                    <label for="recipe_name">Recipe by:</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Please give the URL of your recipe image" id="recipe_image" name="recipe_image" type="text" class="validate">
                    <label for="recipe_image">Recipe Image</label>
                </div>
            </div>
            <button class="btn waves-effect waves-light right my-btn-color" type="submit" name="action">Add Recipe
            <i class="material-icons right">playlist_add</i>
         </button>
        </form>
        {% endblock %}
    </div>
</div>