{% extends 'base.html' %} {% block content %}

<div class="container">
{% for recipes in from_scratch %}
<img class="materialboxed view-recipe-image" data-caption="{{recipes.recipe_name}}" src="{{recipes.recipe_image}}" >
<h2>{{recipes.recipe_name}}</h2>
<div class="divider"></div>
  <div class="section">
    <h5>Ingredients</h5>
    <p>{{recipes.ingredients0}}</p>
  </div>
  <div class="divider"></div>
  <div class="section">
    <h5>Directions</h5>
    <p>{{recipes.directions0}}</p>
  </div>
  <div class="divider"></div>
  <div class="section">
    <h5>Nutrition Facts</h5>
    <p>{{recipes.nutrition0}}</p>
  </div>
{% endfor %}
</div>
{% endblock %}