{% extends 'base.html' %} {% block content %}

<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input id="username" name="username" class="materialize-textarea"></input>
          <label for="username">Username</label>
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input id="password" name="password" class="materialize-textarea"></input>
          <label for="password">Password</label>
        </div>
      </div>
      <a class="waves-effect waves-light btn my-btn-color"><i class="material-icons left">person_add</i>Register</a>
    </form>
  </div>

{% endblock %}